.time-counter {
  color:#000;
  text-shadow: #535353 1px 1px 0.05em;
}
  
  @media (prefers-color-scheme: dark) {
    .time-counter {
      color:#b0b0b0;
      text-shadow: #ffffff 1px 1px 0.05em;
  }
}
